    <!-- Architecture Section -->
    <section id="arch" class="content-section text-center">
    <div class="arch-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Architecture</h2>
                <p><b>dau</b> is written as a configurable set of SystemVerilog modules addressable through C++ function calls. <b>dau</b> is written for PCIe based FPGA cards or integrated CPU/FPGA (SoC) platforms.</p>
                <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a> -->
            </div>
        </div>
    </div>
    </section>