    <!-- Architecture Section -->
    <section id="arch" class="content-section text-center">
    <div class="arch-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Architecture</h2>
                <p>The primary features are a floating point unit capable of 80 decimal digits of precision, a set of heterogenous core algorithm accelerators (including a 16Gb/s sorter), and a custom cache system.</p>
                <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a> -->
            </div>
        </div>
    </div>
    </section>